@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --text-color-light: hsl(212, 23%, 69%);
    --header-color: hsl(217, 19%, 35%);
    --bg-color: hsl(210, 46%, 95%);
    --text-color-dark: hsl(214, 17%, 51%);
}

body {
    margin: 0;
    font-size: 13px;
    font-family: "Manrope", sans-serif;
    background-color: var(--bg-color);

    /* THIS is how to center a div on a page - use flex */
    display: flex;
    height: 100vh; /* for align items to work, you must assign a height - in this case, 100% of the viewport */
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 730px;
    height: 280px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    border-radius: 10px;
    box-shadow: 10px 15px 25px rgba(83, 99, 120, 0.115);
}

.main-img {
    border-radius: 10px 0 0 10px;
}

.text-half {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: auto;
    width: 445px;
    transform: translateX(-80px);
    padding: 25px 40px;
    border-radius: 0 10px 10px 0;
}

.text-content {
    width: 380px;
}

h1 {
    color: var(--header-color);
    font-size: 22px;
    margin: 0;
}

.text-block {
    color: var(--text-color-dark);
    line-height: 1.65em;
}

.profile {
    display: flex;
    align-items: center; 
    height: 40px;
    position: relative;
    margin-top: 0.5em;
}

.profile-img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin-right: 1.2em;
}

.profile-text {
    display: flex;
    flex-direction: column;
}

.profile-text p {
    margin: 0;
}

.name {
    color: var(--header-color);
    font-weight: 700;
}

.date {
    color: var(--text-color-light);
}

.share-icon {
    position: absolute;
    right: 10px;
    width: 33px;
    height: 33px;
    background-color: var(--bg-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.share-icon i {
    width: 1em;
    height: 1em;
    color: var(--text-color-dark);
}

.share-icon:hover {
    cursor: pointer; 
    background-color: var(--text-color-dark);
}

.share-icon:focus {
    cursor: pointer; 
    background-color: var(--text-color-dark);
}

.share-icon:hover i { /* this is how you make something INSIDE a parent element change when you hover over the PARENT ELEMENT but not necessarily the changing element itself */
    color: var(--bg-color);
}

.share-icon:focus i {
    color: var(--bg-color);
}

#share-modal {
    display: none; /* change to display: flex when clicking share button */
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 55px;
    padding: 0;
    border: none;
    border-radius: 10px;
    background-color: var(--header-color);
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(40%, -150%);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.22);
}

/* make the triangle for the modal speechbox using a CSS pseudo-element via ::before and/or ::after */
#share-modal::before {
    /* specify no content and no dimensions so border path starts in the middle */
    content: "";
    width: 0;
    height: 0;

    /* allow for positioning */
    position: absolute;
    bottom: -17px;
    right: 45%;

    /* define triangle dimensions via border width and color via one of the border colors (usually top) */
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 18px solid var(--header-color);
    border-bottom: 0 solid transparent;
    
}

.share-txt {
    color: var(--text-color-light);
    letter-spacing: 0.35em;
    margin-right: 1em;
}

.social-btn {
    background: none;
    border: none;
}

.social-btn i {
    color: white;
}

.social-btn:hover i {
    color: var(--text-color-light);
    cursor: pointer;
}

.social-btn:focus i {
    color: var(--text-color-light);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    width: 100vw;
    position: absolute;
    bottom: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}


@media (max-width: 750px) {
    body {
        align-items: start;
        margin-top: 50px;
        overflow: hidden;
    }
    
    .wrapper {
        width: 325px;
        height: 515px;
    }
    
    .card {
        flex-direction: column;
        overflow: hidden; /* to crop the image overflow, "overflow: hidden" must be given to the PARENT div (which must have defined height and width) */
    }
    
    .main-img {
        border-radius: 0;
        transform: translateY(-15px);
    }
    
    .text-half {
        height: 350px;
        width: auto;
        transform: translateY(-50px);
        padding: 30px 35px;
        border-radius: 0;
    }
    
    .text-content {
        width: 265px;
    }
    
    h1 {
        font-size: 16px;
    }
    
    .text-block {
        font-size: 13px;
        padding-right: 22px;
    }
    
    .profile {
        height: 45px;
        margin-top: 16px;
    }
    
    .share-icon {
        right: 0px;
        z-index: 5;
    }
    
    #share-modal {
        justify-content: start;
        align-items: start;
        padding-left: 38px;
        padding-top: 23px;
        width: 330px;
        height: 75px;
        border-radius: 0;
        left: -35px;
        top: -10px;
        transform: translate(0);
        box-shadow: none;
    }

    .share-txt {
        margin-top: 3px;
    }
    
    .attribution { 
        font-size: 11px; 
        text-align: center; 
        width: 100vw;
        position: absolute;
        bottom: 10px;
    }
    
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }
    
}